---
import type { Hero } from "@/src/content";

interface Props extends Hero {
    name: string;
}

const { name, title, p1, p2, p3 } = Astro.props as Props;
---

<section id={name} class="mb-10 mt-50">
    <h1 class="mb-4 font-semibold text-xl">{name}</h1>
    <div class="[&_p]:mb-6 leading-7">
        <p>
            <span class="text-green-500">{title} </span>
            <span class="opacity-50">{p1}</span>
        </p>
        <p class="opacity-50">{p2}</p>
        <p class="opacity-50">{p3}</p>
    </div>
</section>
