---
import type { Skills } from "@/src/content";

const { heading, items } = Astro.props as Skills;
---

<section class="mt-20">
    <h2 class="opacity-50 uppercase mb-6">{heading}</h2>
    <div class="grid grid-cols-1 md:grid-cols-3">
        {
            items.map((skill) => (
                <article class="border p-3 flex flex-col justify-between">
                    <p class="pb-1 text-green-500">
                        {">"}
                        {skill.title}
                    </p>
                    <span class="text-[0.7rem] p-1 text-white/70 uppercase">{skill.category}</span>
                    <p class="text-[0.88rem] opacity-50 py-2 border-b line-clamp-2">{skill.description}</p>
                    <div class="flex gap-2 items-center pt-2">
                        <p class="text-3xl">{skill.experience_years}</p>
                        <p class="text-[0.88rem] opacity-50">{skill.experience_label}</p>
                    </div>
                </article>
            ))
        }
    </div>
</section>
